/* You can add global styles to this file, and also import other style files */

#input-box {
  resize: vertical;
}

#send-button {
  width: 90%;
  background-color: #486635;
  color: #e9f5df;
}

#send-buttons-div {
  display: flex;
  justify-content: space-between;
}

#error-message {
  color: #a34d12;
  font-weight: bold;
}

#message-history-border {
  border: 1px solid #808080;
  border-radius: 5px;
  overflow: hidden;
}

#message-history {
  overflow-y: scroll;
  max-height: 60vh;
  min-height: 30vh;
}

.message {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 85%;
  width: fit-content;
  list-style-type: none;
}

.message-user {
  border: 2px #ecf3d5;
  border-top-right-radius: 0;
  margin-left: auto;
  margin-right: 16px;
  background-color: #ecf3d5;
  color: #32302f;
}

.message-assistant {
  border: 2px #f1f0f0;
  border-top-left-radius: 0;
  margin-right: auto;
  margin-left: 8px;
  background-color: #f1f0f0;
  color: #1c1b1b;
}

/* For ol (ordered lists), make sure to retain numbers. Otherwise it defaults
  to square bullet points: */
.message ol > li {
  list-style-type: number;
}

/* Make browser highlight color more visible against dark mode colors: */
.message code span::selection {
  background: #4877a5;
}

.message code {
  padding: 0.1rem 0.5rem;
}

.code-header {
  padding: 0.1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.clipboard {
  margin-left: 1rem;
  cursor: pointer;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.confirmation-buttons {
  margin-top: 20px;
}
