# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.log
*.csv
*.json
*.sqlite

# Node
/node_modules
/npm-debug.log
/yarn-error.log

# React
/build

# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# IDEs
.idea
.vscode
