version: "3.9"
services:
    postgres:
        image: postgres:13.3
        container_name: llm-gateway-postgres
        hostname: postgres
        ports:
            - "5430:5432"
        environment:
            - POSTGRES_DB=llm_gateway
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_USER=postgres
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5

    migration:
        build:
            context: .
            dockerfile: Dockerfile
            target: backend-builder
        env_file:
            - .envrc
        command: uv pip install --system -e . && alembic upgrade head
        depends_on:
            postgres:
                condition: service_healthy

    llm_gateway_backend:
        build:
            context: .
            dockerfile: Dockerfile
            target: backend-builder
        container_name: llm-gateway-backend
        command: >
            bash -c "uv pip install -e . &&
            uvicorn --host 0.0.0.0 --port 5000 llm_gateway.app:app --reload"
        env_file:
            - .envrc
        ports:
            - "5000:5000"
        depends_on:
            postgres:
                condition: service_healthy
            migration:
                condition: service_completed_successfully
        healthcheck:
            test: [ "CMD", "curl", "-f", "127.0.0.1:5000/api/healthcheck" ]
            interval: 10s
            timeout: 5s
            retries: 5
        volumes:
            # these are already baked into the image, but make the local dev experience nicer with autoreload
            - ./llm_gateway:/usr/src/app/llm_gateway

    llm_gateway_frontend:
        build:
            context: .
            dockerfile: Dockerfile
            target: frontend-pre-builder
        container_name: llm-gateway-frontend
        command: yarn start
        ports:
            - "3000:3000"
        volumes:
            - ./front_end/src:/usr/src/app/src
            - ./front_end/public:/usr/src/app/public
