aiohttp==3.9.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
aiosignal==1.3.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
alembic==1.8.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
anyio==3.7.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
attrs==23.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
backoff==2.2.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
boto3==1.33.13 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
botocore==1.33.13 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
certifi==2024.7.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
charset-normalizer==3.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
click==8.1.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
cohere==4.11.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
colorama==0.4.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and (sys_platform == "win32" or platform_system == "Windows")
et-xmlfile==1.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
fastapi==0.109.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
frozenlist==1.3.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
greenlet==2.0.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.14.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
httptools==0.5.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
idna==3.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
importlib-metadata==6.7.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jmespath==1.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
mako==1.2.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
markupsafe==2.1.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
multidict==6.0.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
numpy==1.25.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
openai[datalib]==0.27.8 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
openpyxl==3.1.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pandas-stubs==2.0.2.230605 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pandas==2.0.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
psycopg2-binary==2.9.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pydantic==1.10.13 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-dateutil==2.8.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-dotenv==1.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pytz==2023.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyyaml==6.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
requests==2.32.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
s3transfer==0.8.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
six==1.16.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
sniffio==1.3.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
sqlalchemy==2.0.17 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
starlette==0.35.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tqdm==4.66.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
types-pytz==2023.3.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
typing-extensions==4.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tzdata==2023.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
urllib3==1.26.19 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
uvicorn[standard]==0.21.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
uvloop==0.17.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.11.dev0" and python_version < "3.12.dev0"
watchfiles==0.19.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
websockets==11.0.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
yarl==1.9.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
zipp==3.19.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
